* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration-line: none;
}
.wrapper {
    padding: 0.5em;
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template: 
        "header header header header" 20%
        ". content nav ." 80%
        / 1fr 5fr 1.5fr 1fr;
    background: url("../images/game-background2.png") no-repeat;
    background-size: cover;
}
body {
    font: 2em "VanishingBoy", Tahoma, sans-serif;
    color: rgb(49, 93, 134);
    width: 100%;
    text-align: center;
}
header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-content: center;
}
.logo {
    font: 3em "VanishingBoy", Arial , sans-serif;
    align-self: center;
    color: rgb(49, 93, 134);
}
nav {
    grid-area: nav;
}
nav ul {
    display: flex;
    flex-direction: column;
}
ul {
    list-style-type: none;
}
nav li {
    height: 2em;
    display: flex;
    justify-content: stretch;
    align-items:center;
  
    padding-left: 1em;
}
nav li:hover {
    background-color: rgba(115, 158, 197, 0.5)
}
main {
    grid-area: content;
    position: relative;
}
section {
    border: 3px solid rgba(115, 158, 197, 0.5);
    background-color:  rgba(200, 213, 224, 0.5);
    padding: 1em;
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    text-align: center;
    max-height: 100%;
    overflow: auto;
}
.rules ol {
    text-align: left;
    padding: 0 3em;
}
ol {
    list-style-position: inside;
}

#button-start, .highscoreTable button{
    font: 1em "VanishingBoy", Tahoma, sans-serif;
    color: rgb(49, 93, 134);
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(white,rgba(115, 158, 197, 0.5));
    outline: none;
}
p {
    padding: 0 2em;
    margin: 1em 0;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-bottom: 1em;
}
.developer-foto {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.7);
}
.screenshots {
    box-sizing: border-box;
    overflow-y: hidden;
}
.screenshots-preview {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}
.overlay{
	display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
	z-index: 999;
}
.overlay img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}
.overlay:target {
	display: block;
}
.imgPreview {
    width: 100%;
}
i {
    font-size: 1.5em;
    color: rgb(16, 47, 77);
}
i:hover{
    color:rgb(78, 3, 107);
}
canvas {
    margin: 0 auto;
}
.modalDialog {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index:100;
    background-color: rgba(60, 60, 60, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalDialog-spellBar {
    margin: 0 auto;
    width: auto;
    height: auto;
}
.modalDialog-spellBar li{
    background: url("../images/spells.png") no-repeat;
    display: inline-block;
    width: 64px;
    height: 64px;
}

.modalDialog-spellBar ul {
    position: relative;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 64px);
    grid-template-rows: repeat(2, 64px);
    grid-gap: 10px;
}

.modalDialog-spellBar li:nth-child(1){
	background-position: -320px 0;
}
.modalDialog-spellBar li:nth-child(2){
	background-position: -256px 0;
}
.modalDialog-spellBar li:nth-child(3){
	background-position: -192px 0;
}
.modalDialog-spellBar li:nth-child(4){
	background-position: -128px 0;
}
.modalDialog-spellBar li:nth-child(5){
	background-position: -64px 0;
}
.modalDialog-spellBar li:nth-child(6){
	background-position: 0 0;
}
.modalDialog-spellBar li:hover::after {
    position: absolute;
    bottom: -100px;
    content: attr(data-title);
    background: rgba(255, 255, 255, 0.7);;
    border: 3px solid rgba(115, 158, 197, 0.5);
    display: block;
    width: 100%;;
    height: 2em;
    text-align: center;
    z-index: 1000;
}

#task {
    border: 2px solid white;
    background-color: rgba(233, 233, 233, 0.5);
   
}
#sortable {
    padding: 0 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row; 
}
.droppable {
    list-style-type: none;
}

.draggable {
    cursor: pointer;
    display: inline-block;
    padding: 3px;
    font-size: 1.5em;
}

.fas {
    font-size: 0.5em;
}
.highscoreTable {
    position: absolute;
    padding: 1em;
    z-index: 100;
    box-shadow: 0 0 5em 0 rgba(0, 0, 0, 0.7);
    width: 15em;
    height: auto;
    left: 50%;
    top: 50%;
    margin-left: -7.5em;
    margin-top: -px;
    border: 3px solid rgba(115, 158, 197, 0.5);
    background-color:  rgba(200, 213, 224, 0.5);
}
.highscoreTable ol{
    text-align: left;
}
.score {
    float: right;
}
.active {
    background-color: rgba(115, 158, 197, 0.5);
}
.hidden {
    display: none;
}   

@font-face {
    font-family: "Tangak";
    SRC: url('../fonts/tangak.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "VanishingBoy";
    SRC: url('../fonts/VanishingBoyBTN.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
}